@model DotNetNote.Models.Buyers.Buyer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Buyer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
