@using DotNetNote.Models

@{
    ViewData["Title"] = "커뮤니티 캠프";
}

@model List<CommunityCampJoinMember>

<h1>ASP.NET Core 5.0 학습용 데모 사이트입니다.</h1>

<h2>참가자 리스트</h2>

<a asp-controller="CommunityCamp" asp-action="Create"
   class="btn btn-info">참가 등록하기</a>
<hr />

<div class="lead">
    참여 등록이 마감되었습니다.
    만약, 참여자 중 취소하시는 분들이 계시면,
    대기자 리스트 분에게 연락드리도록 하겠습니다.
    본 사이트는 행사 완료 후 DB가 완전 초기화될 것입니다.
    감사합니다.
</div>
<hr />

@*
<table class="table table-bordered table-hover table-condensed table-responsive table-striped">
    <tr>
        <th>커뮤니티</th>
        <th>이름</th>
        <th>연락처</th>
        <th>이메일</th>
        <th>티셔츠 사이즈</th>
    </tr>
    @foreach (var members in Model)
    {
        <tr>
            <td>@members.CommunityName</td>
            <td>@members.Name</td>
            <td>@members.Mobile</td>
            <td>@members.Email</td>
            <td>@members.Size</td>
        </tr>
    }
</table>
*@


<div class="row mb-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">ASP.NET Korea 참여자 리스트</div>
            <div class="card-body">
                @foreach (var aspnetkorea in Model.Where(m => m.CommunityName
          == "ASP.NET Korea").OrderBy(m => m.Id).Take(15))
                {
                    <div class="col-md-3">
                        @aspnetkorea.Name
                        <a asp-controller="CommunityCamp" asp-action="Delete"
                           title="취소">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Taeyo.NET 참여자 리스트
            </div>
            <div class="card-body">
                @foreach (var taeyonetkorea in Model.Where(m => m.CommunityName
          == "Taeyo.NET").OrderBy(m => m.Id).Take(15))
                {
                    <div class="col-md-3">
                        @taeyonetkorea.Name
                        <a asp-controller="CommunityCamp" asp-action="Delete"
                           title="취소">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">ASP.NET Korea 대기자 리스트</div>
            <div class="card-body">
                @foreach (var aspnetkorea in Model.Where(m => m.CommunityName
          == "ASP.NET Korea").OrderBy(m => m.Id).Skip(15).Take(25))
                {
                    <div class="col-md-3">
                        @{
                            var aspName = aspnetkorea.Name[0].ToString() + "*"
                                + aspnetkorea.Name.Substring(
                                    aspnetkorea.Name.Length - 1);
                        }
                        @aspName
                        <a asp-controller="CommunityCamp" asp-action="Delete"
                           title="취소">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Taeyo.NET 대기자 리스트
            </div>
            <div class="card-body">
                @foreach (var taeyonetkorea in Model.Where(m => m.CommunityName
          == "Taeyo.NET").OrderBy(m => m.Id).Skip(15).Take(25))
                {
                    <div class="col-md-3">
                        @{
                            var taeyoName = taeyonetkorea.Name[0].ToString() + "*" +
                                taeyonetkorea.Name.Substring(
                                    taeyonetkorea.Name.Length - 1);
                        }
                        @taeyoName
                        <a asp-controller="CommunityCamp" asp-action="Delete"
                           title="취소">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["Message"] != null)
    {
        <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script>
            $(function () {
                toastr.info('@TempData["Message"]');
            });
        </script>
    }
}
