@model Note
@using Dul.Board

<div class="form-horizontal">
    @if (ViewBag.FormType == BoardWriteFormType.Modify)
    {
        <div class="form-group">
            <label asp-for="Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Id" class="form-control"
                       style="border:0; width:100px;" maxlength="10" readonly />
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
        </div>
    }
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control"
                   style="width:150px;" maxlength="10" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control"
                   style="width:200px;display:inline-block;" maxlength="80" />
            <span style="color:#aaaaaa;font-style:italic">(Optional)</span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Homepage" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Homepage" class="form-control"
                   style="width:300px;display:inline-block;" maxlength="80" />
            <span style="color:#aaaaaa;font-style:italic">(Optional)</span>
            <span asp-validation-for="Homepage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" style="width:480px;" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Content" class="form-control"
                      style="width:480px;height:100px;" rows="5" cols="80"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FileName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="file" name="files" value=""
                   style="width:290px; display:inline-block;" />
            <span style="color:#aaaaaa;font-style:italic">(Optional)</span>
            <span asp-validation-for="FileName" class="text-danger"></span>
            @if (ViewBag.FileSize > 0)
            {
                <br />
                @ViewBag.FileNamePrevious
            }
            <input type="hidden" name="previousFileName"
                   value="@ViewBag.FileName" />
            <input type="hidden" name="previousFileSize"
                   value="@ViewBag.FileSize" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Encoding" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Encoding" class="form-control"
                    style="width:100px;">
                <option value="Text" selected>Text</option>
                <option value="Html">HTML</option> @*대소문자 구분 주의*@
                <option value="Mixed">Mixed</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control"
                   style="width:150px;display:inline-block;" maxlength="20" />
            <span style="color:#aaaaaa;">(수정/삭제시에 필요)</span><br />
            <span asp-validation-for="Password" class="text-danger"></span>
            <div>
                <small>암호는 단방향으로 암호화되어 관리자도 알 수 없습니다.</small>
            </div>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="@ViewBag.SaveButtonText"
               class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-default">리스트</a>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </div>
</div>

@*Category 기본값은 Free(자유 게시판)로 설정*@
<input type="hidden" asp-for="Category" value="Free" />
