@using Dul
@using Dul.Web

@model IEnumerable<Note>

@inject INoteRepository NoteRepositoryReference

@{
    ViewData["Title"] = "게시판 리스트";
}

<!-- Page Content -->
<div class="container">

    <div class="m-5" id="dotnetnote-list">
        <h2 style="text-align:center;">게시판</h2>
        <span style="color: #ff0000">
            글 목록 - ASP.NET Core 6.0 완성형 게시판입니다.
        </span>
        <hr />

        <div style="font-style:italic;text-align:right;font-size:8pt;">
            Total Record: @ViewBag.TotalRecord
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <colgroup>
                    <col style="width: 100px;" />
                    <col style="width: 400px;" />
                    <col style="width: 50px;" />
                    <col style="width: 80px;" />
                    <col style="width: 90px;" />
                    <col style="width: 60px;" />
                    <col style="width: 20px;" />
                </colgroup>
                <tr class="thead-light">
                    <th style="width:100px; text-align:center;">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th style="width: auto; text-align:center;">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th style="width:50px; text-align:center;">
                        @Html.DisplayNameFor(model => model.FileName)
                    </th>
                    <th style="width:80px; text-align:center;">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th style="width:90px; text-align:center;">
                        @Html.DisplayNameFor(model => model.PostDate)
                    </th>
                    <th style="width:60px; text-align:center; white-space:nowrap;">
                        @Html.DisplayNameFor(model => model.ReadCount)
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>

                <cache expires-after="@TimeSpan.FromMinutes(10)">
                    @*최근 공지 글 2개 출력: 캐싱 적용*@
                    @foreach (var item in NoteRepositoryReference.GetNoteSummaryByCategory("Notice").Take(2))
                    {
                        <tr>
                            <td style="text-align:center;">
                                <span class="badge badge-success" style="font-size:xx-small">NOTICE</span>
                            </td>
                            <td>
                                @Html.Raw(BoardLibrary.FuncStep(item.Step))
                                <a asp-controller="DotNetNote" asp-action="Details" asp-route-id="@item.Id">
                                    <strong>
                                        @StringLibrary.CutStringUnicode(item.Title, 35)
                                    </strong>
                                </a>
                                <small>
                                    @Html.Raw(BoardLibrary.ShowCommentCount(item.CommentCount))
                                </small>
                                @Html.Raw(BoardLibrary.FuncNew(item.PostDate))
                            </td>
                            <td style="text-align:center;">
                                @Html.Raw(BoardLibrary.FuncFileDownSingle(item.Id, item.FileName, item.FileSize.ToString(), "DotNetNote", "/BoardDown/"))
                            </td>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="text-align:center; font-size: xx-small;">
                                @BoardLibrary.FuncShowTime(item.PostDate)
                            </td>
                            <td style="text-align:right; font-size: xx-small;">
                                @Html.DisplayFor(modelItem => item.ReadCount)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    }
                </cache>

                @*게시글 출력*@
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center; font-size: xx-small;">
                                @if (item.Step == 0)
                                {
                                    @Html.DisplayFor(modelItem => item.Id)
                                }
                                else
                                {
                                    <text>&nbsp;</text>
                                }
                            </td>
                            <td>
                                @Html.Raw(BoardLibrary.FuncStep(item.Step))
                                <a asp-controller="DotNetNote" asp-action="Details" asp-route-id="@item.Id">
                                    @StringLibrary.CutStringUnicode(item.Title, 35)
                                </a>
                                <small>
                                    @Html.Raw(BoardLibrary.ShowCommentCount(item.CommentCount))
                                </small>
                                @Html.Raw(BoardLibrary.FuncNew(item.PostDate))
                            </td>
                            <td style="text-align:center;">
                                @Html.Raw(BoardLibrary.FuncFileDownSingle(item.Id, item.FileName, item.FileSize.ToString(), "DotNetNote", "/BoardDown/"))
                            </td>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="text-align:center; font-size: xx-small;">
                                @BoardLibrary.FuncShowTime(item.PostDate)
                            </td>
                            <td style="text-align:right; font-size: xx-small;">
                                @Html.DisplayFor(modelItem => item.ReadCount)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    }
                }
            </table>

        </div>

        <table style="width: 100%; margin-left: auto; margin-right: auto; border: 0;">
            <tr>
                <td style="text-align:center;">
                    <div class="d-flex">
                        <dnn-paging-helper url="@Context.Request.Path"
                                           page-index='Convert.ToInt32(Context.Request.Query["Page"])'
                                           page-size="10"
                                           record-count="@ViewBag.TotalRecord"
                                           search-mode='Convert.ToBoolean(@ViewBag.SearchMode)'
                                           search-field="@ViewBag.SearchField"
                                           search-query="@ViewBag.SearchQuery">
                        </dnn-paging-helper>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    @await Html.PartialAsync("_AdvancedPagingWithCss", ViewBag.PageModel as PagerBase)
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">
                    <a asp-action="Create" class="btn btn-primary">글쓰기</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    @*@Html.Partial("_SearchForm")*@
                    @await Html.PartialAsync("_SearchForm")
                    <br />
                    @if (ViewBag.SearchMode)
                    {
                        <a asp-controller="DotNetNote" asp-action="Index"
                           class="btn btn-success">검색 완료</a>
                    }
                </td>
            </tr>
        </table>
    </div>

    @section Scripts {
        @if (TempData["Message"] != null)
        {
            <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
            <script src="~/lib/toastr/toastr.min.js"></script>
            <script>
            $(function () {
                toastr.info('@TempData["Message"]');
            });
            </script>
        }
    }

</div>
<!-- /.container -->
