@{
    Layout = null; 
}

<h1>Quiz</h1>

넘어온 Id 값: @ViewData["Id"]<br />
넘어온 Id 값: @ViewBag.Id<br />
넘어온 Page 값: @ViewBag.Page<br />
넘어온 Page 값: @ViewData["Page"]<br />

<hr />

<form action="/Basic/Quiz" method="post">
    <input type="text" name="answer" value="" />
    <input type="submit" name="btnSave" value="전송" />
</form>

<hr />

@ViewBag.Answer

