@page
@model VisualAcademy.Pages.Cascading.Locations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].Active)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Location[0].Property)
            </th>
*@            <th>
                @Html.DisplayNameFor(model => model.Location[0].PropertyRef)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Location) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Property)
            </td>
*@            <td>
                    @{
                        var propertyName = "";
                        if (item.PropertyRef != null)
                        {
                            try
                            {

                                propertyName = item.PropertyRef?.Name ?? "(Unknown)";
                            }
                            catch (Exception)
                            {
                                propertyName = "(Unknown)";
                            }
                        }
                        else
                        {
                            propertyName = "(Unknown)";
                        }
                    }
                    @propertyName
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
