@model List<RecruitSetting>

<h1>모집 설정 리스트</h1>

<a href="/RecruitManager/RecruitSettingCreate" class="btn btn-primary">
    모집 추가
</a>

<a href="/RecruitManager/Index" class="btn btn-primary">
    메인 페이지
</a>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <td>&nbsp;</td>
        <td>Id</td>
        <td>BoardName</td>
        <td>BoardNum</td>
        <td>BoardTitle</td>
        <td>EventDate</td>
        <td>MaxCount</td>
        <td>CreationDate</td>
        <td>Remarks</td>
    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                <a asp-action="RecruitSettingDetail" asp-route-id="@m.Id"
                   class="btn btn-default">
                    상세보기
                </a>
            </td>
            <td>@m.Id</td>
            <td>@m.BoardName</td>
            <td>@m.BoardNum</td>
            <td>@m.BoardTitle</td>
            <td>@m.EventDate</td>
            <td>@m.MaxCount</td>
            <td>@m.CreationDate</td>
            <td>@m.Remarks</td>
        </tr>
    }
</table>
