@*appsettings.json 파일의 내용을 레이아웃 페이지에 주입해서 사용하기*@
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@*[2]*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _context

@using System.Globalization 

@using Microsoft.AspNetCore.Identity

@using System.Security.Claims

@{
    // 최고 관리자 권한 체크 
    bool isAdmin = false;
    if (User.Identity.IsAuthenticated)
    {
        isAdmin = User.IsInRole("Administrators");
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    }
}

<!DOCTYPE html>
<html lang="en" class="ko ko-kr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 닷넷노트</title>

    @*머티리얼 디자인*@
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>*@

    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/lib/moment/min/moment-with-locales.js"></script>
    <script>
        moment.locale('ko');
    </script>

    <!-- AngularJS -->
    <script src="~/lib/angular/angular.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- 페이저 관련 CSS: 한 번 만들어 놓고 계속 사용 -->
    <link href="~/css/memoengine.pager.css" rel="stylesheet" asp-append-version="false" />

    @*environment 태그 헬퍼 사용 예제*@
    <environment names="Development">
        @*개발 환경에서는 전체 버전의 jQuery와 Bootstrap 사용*@
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment names="Production">
        @*운영 환경에서는 최소 버전의 jQuery와 Bootstrap 사용*@
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    </environment>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
        <script src="~/lib/toastr/toastr.min.js"></script>*@

    <environment names="Production">
        @*구글 광고*@
        <script data-ad-client="ca-pub-3764019141561118" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WMBPQEZ3RN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-WMBPQEZ3RN');
        </script>
    </environment>

    @*Vue.js 사용을 위한 라이브러리 포함*@
    <script type="importmap">
        {
          "imports": {
            //"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
          }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-nowrap" asp-area="" asp-controller="Home" asp-action="Index">DotNetNote</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item d-sm-none d-md-none d-lg-block">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>*@
                        <li class="dropdown nav-item d-sm-none d-md-block">
                            <a class="dropdown-toggle nav-link text-dark" href="#" role="button" id="ddlPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/BuildSeoul">빌드서울</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="About">정보</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">연락처</a>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none d-md-none d-lg-block">
                            <a class="nav-link text-dark text-nowrap" asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
                        </li>
                        <li class="nav-item d-sm-none d-md-none d-lg-block">
                            <a class="nav-link text-dark text-nowrap" href="/docs/">Docs</a>
                        </li>
                        <li class="nav-item d-sm-none d-md-none d-lg-block">
                            <a class="nav-link text-dark text-nowrap" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-nowrap" asp-area="" asp-controller="DotNetNote" asp-action="Index">게시판</a>
                        </li>
                        @*다음 부트스트랩 드롭다운은 V4.X 기준입니다. *@
                        <li class="dropdown nav-item d-sm-none d-md-none d-lg-block">
                            <a class="dropdown-toggle nav-link text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                예제
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="RouteDemo" asp-action="Index">특성 라우팅</a>
                                <a class="dropdown-item" asp-controller="Data" asp-action="Index">MVC 주요 기능</a>
                                <a class="dropdown-item" asp-controller="RazorDemo" asp-action="Demo1">Razor 구문 1</a>
                                <a class="dropdown-item" asp-controller="RazorDemo" asp-action="Demo2">Razor 구문 2</a>
                                <a class="dropdown-item" asp-controller="HelperMethodDemo" asp-action="Index">헬퍼 메서드</a>
                                <a class="dropdown-item" asp-controller="Demo" asp-action="ViewWithModelDemo">모델 형식으로 전송된 데이터 받기</a>
                                <a class="dropdown-item" asp-controller="Demo" asp-action="ViewWithListOfDemo">컬렉션 형태로 전송된 데이터 받기</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="FormValidationDemo" asp-action="Index">폼 유효성 검사</a>
                                <a class="dropdown-item" asp-controller="TagHelperDemo" asp-action="Index">태그 헬퍼</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="SingletonDemo" asp-action="Index">Singleton Demo</a>
                                <a class="dropdown-item" asp-controller="SingletonDemo" asp-action="ConstructorInjectionDemo">생성자 주입</a>
                                <a class="dropdown-item" asp-controller="DependencyInjectionDemo" asp-action="Index">인터페이스를 사용한 생성자 주입으로 DI 구현하기</a>
                                <a class="dropdown-item" asp-controller="DependencyInjectionDemo" asp-action="About">인터페이스를 사용한 생성자 주입으로 DI 구현하기</a>
                                <a class="dropdown-item" asp-controller="DependencyInjectionDemo" asp-action="AtInjectDemo">@@inject 구문으로 뷰 페이지에 직접 주입하기</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="StronglyTypedConfiguration" asp-action="Index">강력한 형식의 환경 설정</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="LoggingDemo" asp-action="Index">로깅(Logging)</a>
                                <a class="dropdown-item" asp-controller="ViewComponentDemo" asp-action="Index">뷰 컴포넌트</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Tech" asp-action="Index">Web API - 기술 목록(with Angular)</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                웹앱
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Idea" asp-action="Index">아이디어앱</a>
                                <a class="dropdown-item" asp-area="" asp-controller="WebCamp" asp-action="Index">웹캠프</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CommunityCamp" asp-action="Index">커뮤니티캠프</a>
                                <a class="dropdown-item" href="/Todo">MVC - 인메모리 TODO</a>
                                <a class="dropdown-item" href="/api/Todos" target="_blank">REST - 인메모리 TODO</a>
                                <a class="dropdown-item" href="~/Maxim/Default.html">명언 서비스</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Modules/Attendee/Index">모듈: 참석자 관리(AttendeeApp)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Urls" asp-action="Index">미니프로젝트: 도메인 관리자</a>
                                <a class="dropdown-item" asp-controller="RecruitManager" asp-action="Index">미니프로젝트: 모집 관리자</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="SelectListDemo" asp-action="Index">미니프로젝트: 캐스케이딩 드롭다운리스트</a>                                
                                <a class="dropdown-item" href="/Cascading/Properties">____ Properties</a>                                
                                <a class="dropdown-item" href="/Cascading/Locations">____ Locations</a>                                
                                <a class="dropdown-item" href="/Cascading/Sublocations">____ Sublocations</a>                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/CabinetTypes/index.html">Vue.js CRUD</a>                                
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                책
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Guide" asp-action="Index">학습 가이드</a>
                                <a class="dropdown-item" asp-controller="Errata" asp-action="Index">정오표</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <div class="container text-center">
                <iframe src="https://ads-partners.coupang.com/widgets.html?id=715307&template=carousel&trackingCode=AF9759197&subId=&width=320&height=140&tsource=" width="320" height="140" frameborder="0" scrolling="no" referrerpolicy="unsafe-url"></iframe>
            </div>

            @RenderBody()

            <environment names="Production">
                @*구글 광고*@
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- DotNetNoteHorizontal -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3764019141561118"
                     data-ad-slot="7578766649"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </environment>
        </main>
        <br /><br /><br /><br /><br /><br />@*임시 테스트*@
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <p>&copy; @DateTime.Now.Year - DotNetNote(닷넷노트) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
            <p class="small"><em>Creator: @Configuration["Creator"] </em></p>
            <p class="small text-center"><em><a href="https://www.dotnetkorea.com/" target="_blank">닷넷코리아(https://www.dotnetkorea.com/)</a></em></p>
            <p>Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</p>
            <p>Process Name: @System.Diagnostics.Process.GetCurrentProcess().ProcessName</p>
            @*[3]*@
            <div style="text-overflow: ellipsis; overflow: hidden;">@(_context.HttpContext.Request.Headers["User-Agent"].ToString())</div>
            <div class="small text-center">
                CurrentCulture: @CultureInfo.CurrentCulture, CurrentUICulture: @CultureInfo.CurrentUICulture 
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
